.pengajuanTop{
    height: 10vw;
}
.bar{
    margin: 2vw 0 1vw 0;
    height:4vw
}

.bar a{
    float: left;
    margin-right: 1vw;
    width:max-content
}
.listPeminjaman{
    margin-top: 2vw;
}
.box1{
    margin-top: 0.5vw;
    padding: 20px;
    color: black;
}
.itemPeminjaman{
    display: flex;
    justify-content: space-between;
}


.itemPeminjaman .data{
    width: 50%;
    display: flex;
    padding: 0 0;
}
.itemPeminjaman .data .check{
    height: 100%;
    margin: 0;
 }
 .itemPeminjaman .data .check input{
     transform: scale(1.5);
     margin-right: 1vw;
  }
  .itemPeminjaman .status{
    width: 20%;
    text-align: center;
    height: max-content;
}


.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }